<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/common/base-css.html::htmlhead"></div>
    <link rel="stylesheet" th:href="@{css/model/index/index.css}">
    <title>管理后台</title>
    <style>

    </style>
</head>
<body>
<div id="vueDiv">
    <el-container>
        <el-header style="background-color: #409EFF">
            <el-col :span="3" style="height: 100%;vertical-align: middle;">
                <div style="margin-top: 15px;"><a onclick="comUtils.fullScreen()" style="cursor: pointer;"><i
                        class="el-icon-info">全屏显示</i></a></div>
            </el-col>
            <el-col :span="4">
                <div style="margin-top: 15px;" id="time"></div>
            </el-col>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-menu
                        default-active="1"
                        @open="handleOpen"
                        @close="handleClose"
                        background-color="#00ffff"
                        text-color="#303133"
                        active-text-color="#F2F6FC">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>审批管理</span>
                        </template>
                        <el-menu-item v-for="(menu,index) in menuList" :index="'1-'+index" @click="clickMenu(menu)">
                            {{menu.name}}
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main height="600">
                <iframe ref="mainPage" src="" height="550px" width="95%" style="border: 0"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>


<div th:replace="/common/base-js.html::javascriptHtml"></div>
<script type="text/javascript">

    let vueDiv = new Vue({
        el: '#vueDiv',
        data() {
            return {
                menuList: []
            }
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            clickMenu(menu) {
                //修改右侧链接
                this.$refs['mainPage'].src = menu.url;
            }
        },
        mounted: function () {
            let _self = this;
            //获取菜单数据
            axios.get('/queryMenuList').then(function (req) {
                _self.menuList = req.data;
            })
        }
    });

    setInterval(function () {
        document.getElementById("time").innerHTML = comUtils.currentTime()
    }, 1000);

</script>
</body>
</html>