<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<javascriptHtml th:remove="tag" th:fragment="javascriptHtml">
    <script type="text/javascript" th:src="@{common/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{common/jquery/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{common/jquery/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{common/jquery/jquery-validation/messages_cn.js}"></script>
    <script type="text/javascript" th:src="@{common/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{common/common.js}"></script>
    <script type="text/javascript" th:src="@{common/jquery/underscore.js}"></script>
    <script type="text/javascript" th:src="@{common/commonGrid.js}"></script>
    <script type="text/javascript" th:src="@{common/layer/layer.js}"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{common/jquery/ie/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{common/jquery/ie/respond.min.js}"></script>
    <![endif]-->
</javascriptHtml>