<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<htmlhead th:remove="tag" th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="overview & stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</htmlhead>